@import url('https://fonts.googleapis.com/css2?family=Chewy&family=DM+Serif+Text:ital@0;1&family=Emilys+Candy&family=Imperial+Script&family=Itim&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{

    font-family: "Outfit", sans-serif;

    background-color: #D6E2F0;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

}

.card{

    background-color: white;

    border-radius: 15px;

    width: 300px;

    height: 450px;


    text-align: center;

    padding: 20px;
}

.card img{

    width: 100%;

    max-width: 700px;

    margin: 0 auto 20px;

    border-radius: 15px;

}

.card h1{

    font-weight: 700;

    font-size: 22px;

    color: #1F3251;

    margin-bottom: 15px;

}

.card p{

    font-weight: 400;

    font-size: 15px;

    color: #7B879D;
    
}